# Discord Bot トークン
DISCORD_TOKEN=ここにBotのトークンを入力

# サーバーのポート番号
PORT=ポート番号

# Discord Developer Portal から取得した Client ID と Client Secret
DISCORD_CLIENT_ID=ここにClient_IDを入力
DISCORD_CLIENT_SECRET=ここにClient_Secretを入力

# OAuth2 リダイレクトURL（HTTPSドメイン指定）
DISCORD_REDIRECT_URI=URL

GITHUB_WEBHOOK_SECRET=your_github_webhook_secret
PTERODACTYL_URL=https://your-panel-domain.com  # あなたのパネルのURL
PTERODACTYL_API_KEY=ptlc_xxxxxxxxxxxx          # 先ほど取得したAPI Key
PTERODACTYL_SERVER_ID=a1b2c3d4                 # サーバーのIdentifier